<div class="site-info">
    <div class="container">
        <div class="col-md-7">
            <div class="fade-in one">
                <h3>Get in touch via email</h3>
            </div>

            <div class="fade-in two">
                <p class="lead">Email us directly at <a href="mailto:recruitment@bidsolutions.co.uk">recruitment@bidsolutions.co.uk</a>
                    <br class="hidden-xs">or get in touch via our contact form. </p>

                <a href="http://bidsolutions.co.uk/content/contact-us.aspx" target="_blank" class="btn btn-info btn-md">Contact us</a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="fade-in three">
                <h3>For all enquiries please call: </h3>

                <p class="lead"><i class="fa fa-phone"></i> Tel: +44 (0)20 8973 2461</p>

            </div>
            <div class="fade-in four">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-unstyled small">
                            <li>Bid Solutions</li>
                            <li>Gainsborough House</li>
                            <li>2 Sheen Road</li>
                            <li>Richomnd</li>
                            <li>Surrey</li>
                            <li>TW9 1AE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .site-info -->
