<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">
            <img src="dist/images/logo.svg" onerror="this.onerror=null; this.src='dist/images/logo-main.png'"
                 class="img-responsive">
        </a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items | orderBy: 'position'"
                data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType"
                ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}"
                dropdown="item.menuItemType === 'dropdown'">
                <a ng-switch-when="dropdown" class="dropdown-toggle">
                    <span data-ng-bind="item.title"></span>
                    <b class="caret"></b>
                </a>
                <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li data-ng-repeat="subitem in item.items | orderBy: 'position'"
                        data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}"
                        ng-class="{active: $uiRoute}">
                        <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                    </li>
                </ul>
                <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li class="dropdown open">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">Download Surveys <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="dist/assets/#">Salary Survey 2015</a></li>
                    <li><a href="dist/assets/2008_salary_survey.pdf">Salary Survey 2008</a></li>
                    <li><a href="dist/assets/2012_salary_survey.pdf">Salary Survey 2013</a></li>
                </ul>
            </li>
            <li>
                <a href="http://bidsolutions.co.uk" class="selected">Back to Bid Solutions.co.uk</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="jumbotron image" style="padding-bottom: 30px;">
    <div class="overlay hidden-xs hidden-sm"></div>
    <div class="container">

        <h1 class="text-center">Salary Survey 2015</h1>

        <p class="text-center">Generate your personalised salary report and compare market salaries</p>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="text">Select variables from the dropdown menus and compare your salary to the 2015 UK bid and
                    proposal market. We recommend starting your search broadly and narrow down one option at a time.
                    Please note that blank cells indicate that insufficient data was gathered to accurately report on
                    your selection </p>
            </div>
        </div>
        <div class="text-center" style="margin-top: 20px;opacity:0.9;">
            <i class="fa fa-chevron-down fa-fw fa-lg"></i>
        </div>
    </div>
</div>
