<section data-ng-controller="SalariesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Salaries</h1>
    </div>

	<!--
	<ul class="list-unstyled">
		<li><h3>Average Salary {{salaries | calcAvg | currency }}</h3></li>
	</ul>
	-->



	<h4>Filters</h4>
    <hr>

	<div class="row">
		<div class="col-md-3">
			<label for="selectGender">Gender</label>
			<select data-ng-model="selectGender" class="form-control" id="selectGender">
				<option value=""> - Select all -</option>
				<option value="m">Male</option>
				<option value="f">Female</option>
			</select>
		</div>


		<div class="col-md-3">
			<label for="selectEmployment">Employment Type</label>
			<select data-ng-model="selectEmployment" class="form-control" id="selectEmployment">
				<option value=""> - Select all -</option>
				<option value="permanent">Permanent</option>
				<option value="self_employed">Self Employed</option>
			</select>
		</div>
	</div>

	<hr>


	<!--
	<ul ng-repeat="salary in salaries | filter : {gender : selectGender }">
		<li>{{ salary.name }} - {{ salary.salary }} - {{salary.gender === 'f' ? 'Female' : 'Male'}}</li>
	</ul>



	-->



<!--
    <hr>
    <h3>Simple Filter by Query</h3>
    <form class="form-inline">
        <input ng-model="bySimple" type="text" placeholder="Filter by" autofocus>
    </form>
    <ul ng-repeat="salary in salaries | filter: { salary: bySimple }">
        <li>{{ salary.name }} - {{ salary.salary }} {{ salary.gender }}</li>
    </ul>




    <hr>
    <h3>Filter by Object</h3>
    <form class="form-inline">
        <input ng-model="byObject" type="text" placeholder="Filter by name and age=20">
    </form>
    <ul ng-repeat="friend in friends | filter: {  age: byObject } | orderBy: 'name' ">
        <li>{{friend.name}} ({{friend.age}})</li>
    </ul>

-->


	<input ng-model="test_salary[0].y" type="number">
	<input ng-model="test_salary[1].y" type="number">
	<input ng-model="test_salary[2].y" type="number">

    <salary-chart data="test_salary"></salary-chart>

	<h4>Results</h4>
	<hr>

	<div class="list-group">
		<a data-ng-repeat="salary in salaries | filter : {gender : selectGender } | filter: { employment_type : selectEmployment }" data-ng-href="#!/salaries/{{salary._id}}" class="list-group-item">

			<span data-ng-bind="salary.salary | currency" class="pull-right">{{salary.salary}}</span>
			<ul class="list-unstyled">
				<li ng-if="salary.name"><strong>Name:</strong> {{ salary.name }}</li>
				<li><strong>Gender:</strong> {{ salary.gender === 'f' ? 'Female' : 'Male' }}</li>
				<li ng-if="salary.employment_type">
					<strong>Employment:</strong> {{salary.employment_type === 'self_employed' ? 'Self Employed' : 'Permanent'}}
				</li>
			</ul>
		</a>

		<pre>
		{{ salaries | json }}
		</pre>
	</div>

	<div class="alert alert-warning text-center" data-ng-hide="!salaries.$resolved || salaries.length">
		No Salaries yet, why don't you <a href="/#!/salaries/create">create one</a>?
	</div>
</section>

