<section ng-controller="SalariesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Salaries</h1>
    </div>

	<ul class="list-unstyled">
		<li><h3>Average Salary {{salaries | calcAvg | currency}}</h3></li>
	</ul>


    <hr>


    <h3>Gender</h3>

    <!--<select ng-model="selectGender" ng-options="salary as salary.gender group by salary.gender for salary in salaries"></select>-->
    <select ng-model="test">
        <option value="Female">Female</option>
        <option value="Male">Male</option>

    </select>


    <input ng-model="test" type="text" placeholder="Filter by name and age=20">


    <ul ng-repeat="salary in salaries | filter:test | orderBy: test">
        <li>{{ salary.name }} - {{ salary.salary }} - {{ salary.gender }}</li>
    </ul>


    <pre>{{selectGender | json}}</pre>




    <hr>
    <h3>Simple Filter by Query</h3>
    <form class="form-inline">
        <input ng-model="bySimple" type="text" placeholder="Filter by" autofocus>
    </form>
    <ul ng-repeat="salary in salaries | filter: { salary: bySimple }">
        <li>{{ salary.name }} - {{ salary.salary }}</li>
    </ul>




    <hr>
    <h3>Filter by Object</h3>
    <form class="form-inline">
        <input ng-model="byObject" type="text" placeholder="Filter by name and age=20">
    </form>
    <ul ng-repeat="friend in friends | filter: {  age: byObject } | orderBy: 'name' ">
        <li>{{friend.name}} ({{friend.age}})</li>
    </ul>


    <highchart id="avgSalary" config="chartConfig"></highchart>

    <div class="list-group">
        <a data-ng-repeat="salary in salaries" data-ng-href="#!/salaries/{{salary._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="salary.created | date:'medium'"></span>
				by
				<span data-ng-bind="salary.user.displayName"></span>
			</small>

	        <span data-ng-bind="salary.salary | currency" class="pull-right">{{salary.salary}}</span>

			<h4 class="list-group-item-heading" data-ng-bind="salary.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!salaries.$resolved || salaries.length">
    	No Salaries yet, why don't you <a href="/#!/salaries/create">create one</a>?
    </div>
</section>

