<section data-ng-controller="SalariesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="salary.name"></h1>
		<ul class="list-unstyled">
			<li ng-if="salary.salary">Salary : <strong data-ng-bind="salary.salary"></strong></li>
			<li ng-if="salary.bonus">Bonus : <strong data-ng-bind="salary.bonus"></strong></li>
			<li ng-if="salary.gender">Gender : <strong data-ng-bind="salary.gender"></strong></li>
			<li ng-if="salary.employment_location">Location : <strong data-ng-bind="salary.employment_location"></strong></li>
			<li ng-if="salary.employment_type">Location : <strong data-ng-bind="salary.employment_type"></strong></li>
			<li ng-if="salary.working_practice">Working Practice : <strong data-ng-bind="salary.working_practice"></strong></li>

		</ul>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == salary.user._id))">
		<a class="btn btn-primary" href="/#!/salaries/{{salary._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="salary.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="salary.user.displayName"></span>
		</em>
	</small>
</section>
