// Navbar Logo area
.navbar-brand {
  padding: 20px;
}

.navbar-brand {
  width: 220px;

  img {
    .img-responsive;
  }

  &:focus, &:active, &:hover {
    background-color: transparent !important;
    outline: 0;
  }
}

.navbar-toggle .icon-bar {
  background: @blue !important;
}

header {
  margin-bottom: 0 !important;
}

.navbar-nav {

  > li > a {
    padding: 10px;
    border-radius: 3px;
    &:hover {
      color: @blue;
    }
  }

  > li {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
  }

  .open > .dropdown-toggle, .selected {
    background: @light-blue;
    color: white !important;

    &:hover {
      background: @light-blue !important;
    }
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: @light-blue;
  }
}

.navbar-header > .navbar-brand {
  &:hover {
    background: transparent;
  }
}

//
// Media Queries
// --------------------------------------------------

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .navbar-nav {
    > li {
      padding-top: 25px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

