// Entry Header
.page-entry-header.image {
  background-image: url(images/header/image.png) !important;
}

.image {
  position: relative;
  background-image: url(images/header/jumbotron.png);
  background-color: #0D2734;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 0;
}

.page-entry-header {
  background: #242c3a;
  color: #ffffff;
  padding: 35px;
  z-index: 0;
  position: relative;
}

.overlay {
  background-image: url(images/header/overlay.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}
